.card-container{
    background: white !important;
    padding: 10px;
    border: 2px solid #CCCCCCBF;
    width: fit-content;
    // height: 100vh;
    border-radius: 10px;

    .card-title{
        margin-bottom: 5px;
        color: #000000 !important;
    }

    .card-weight{
        font-size: 8px;
        color: #666666 !important;
        margin-bottom: 5px;
    }

    .card-price-container{
        display: flex;
        justify-content: space-between;        
        align-items: center;

        .card-price{
            color: #000 !important;
        }

        .card-button{
            background-color: #EAF7ED!important;
            color: #73C986 !important;
            border-radius: 2px solid #2EAF4B !important;
            width: 70px;
        }
    }
}