* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 5%;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    gap: 45px;
    width: 100%;
    z-index: 1000;


    .logo {
        width: 160px;
    }

    .delivery {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        color: #000;
        min-width: 180px;
        gap: 4px;
    }

    .location {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 14px;
    }
}

.search {
    width: 50%;
}

.search-input {
    width: 100%;
    height: 48px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;

    .avatar-badge {
        cursor: pointer;
    }

}

.cart-button, .login-button-mobile, .login-button{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    background-color: #22c55e;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
}

.drop-down {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5vh;
    background-color: white;
}

.drop-down-inside {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    height: 40px;
    width: 40px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
}

.email {
    font-size: 14px;
    color: #777;
}

.divider {
    height: 1px;
    background-color: #ddd;
    margin: 8px 0;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
    cursor: pointer;
}

.menu-item.logout {
    color: #EF4444;
}

.icon {
    height: 20px;
    width: 20px;
}

.navbar-mobile {
    display: none;
}

@media (min-width: 481px) and (max-width: 1024px) {

    /* Tablet-specific styles */
    // .navbar {
    //     gap: 30px;
    //     background-color: red;
    // }

    // .cart-button {
    //     width: 100%;
    //     align-items: start;
    //     justify-content: start;

    //     padding: 10px 30px 10px 10px;

    // }

    // .actions {
    //     gap: 10px;
    //     width: 20%;
    // }

    // .search {
    //     width: 100%;
    // }

    
}

/*mobile Responsive Design */
@media (max-width: 480px) {

    .navbar {
        display: none;

    }


    .navbar-mobile {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: #78a27e;

    }

    .deleivery-and-carts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 15px 0 15px 0;
    }

    .location-mobile {
        flex-direction: row;
        display: flex;
        gap: 10px;
    }

    .actions-mobile {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .search-mobile {
        width: 90%;
        padding: 15px 0 15px 0;
    }

    .search-input-mobile {
        padding: 10px;
    }

    ///  mobile drop down 
    .drop-down {
        margin-top: 100px;
        position: relative;
        left: 12px;

    }

    .delivery-time {
        font-weight: 700;
    }

}