* {
    margin: 0%;
    padding: 0;
}

// .step-done-icon {
//     color: #12B76A; // or any green shade you prefer
//     font-size: 20px;
//   }
  
//   .ant-steps-item-tail::after {
//     background-color: #D1D5DB !important; // Tailwind grey-300
//   }
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb; // optional, for visual separation
  }
   
  
.account-header {
    padding: 24px;
    width: 75%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-top: 75px;
    margin-left: 70px;

}

.account-title {
    font-weight: 700;
    font-size: 20px;
}

.account-description {
    font-size: 16px;
}

.order-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    justify-content: space-evenly;
    gap: 15px;
}
.order-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 1rem;
  margin-top: 15vh;
  border-radius: 10px;
}


.order-profile-card {
    margin-left: 60px;
    padding: 40px;
    width: 75%;
  border: 1px solid #d9d9d9;
    border-radius: 8px;
}

@media screen and (max-width:1024px) {
    
}



@media screen and (max-width:481px) {

    .account-header {
        margin-right: 20%;
        margin-top: 8%;


    }

    .order-profile-card {
        margin-right: 20%;
    }


}