.product-main {
    margin: 125px auto 0;

    .product-box-row-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        gap: 25px;
    }
}

.product-detail-container {
    display: flex;
    justify-content: space-evenly;
    // margin: 3% 3% 25px 3%;
    gap: 15px;

    .product-image {
        // border: 1px solid #CCCCCCBF;
        border-radius: 10px;


        .main-product-img {
            // border: 1px solid #eee;
            width: 100%;
            border-radius: 10px;

        }
        .carousel-main-image{
            height: 450px;
            width: 550px;
        border: 1px solid #eee;

}
    }

    .product-detail-content {
        // padding: 10px;
        width: 40%;

        .product-title-conatainer {
            border: 1px solid #CCCCCCBF;
            border-radius: 10px;
            // padding: 10px;
            padding: 15px;
            width: 100%;
            margin-bottom: 20px;

            .product-breadcrumbs {
                margin-bottom: 20px;
            }

            .product-title {
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: 600;
            }

            .product-weight {
                margin-bottom: 20px;
                color: #666666;
            }

            .card-price-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;

                .card-price {
                    color: #000 !important;
                }

                .card-button {
                    background-color: #EAF7ED !important;
                    color: #73C986 !important;
                    border-radius: 2px solid #2EAF4B !important;
                    width: 70px;
                }
            }

            .border-line {
                background-color: #CCCCCCBF;
                height: 2px;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }

        }

        .product-description-container {
            border: 1px solid #CCCCCCBF;
            border-radius: 10px;
            width: 100%;
            padding: 15px;

            .product-detail-title {
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 600;
            }

            .product-description {
                color: #666666
            }
        }
    }
}

.image-list-container {
    border: 1px solid #CCCCCCBF;
    width: fit-content;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
 .carousel-main-image{
    height: 350px !important;
    width: 450px !important;
 }
}

@media screen and (max-width:720px) {


    .product-main {
        margin: 10px auto 0;

    }

    .product-image {
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-detail-container {
        flex-direction: column;
    }

    .product-detail-content {
        width: 95% !important;

    }

    .product-box-row-img {
        flex-direction: column;
        margin-top: 20px;
        gap: 24px;


    }



}