.product-detail-container {

    display: flex;
    margin: 3% 3% 25px 3%;
    gap: 15px;

    .product-image {
        border: 2px solid #CCCCCCBF;
        // width: 100%;
        // height: 100vh;
        border-radius: 10px;
        padding: 10px;
    }

    .product-detail-content {
        // padding: 10px;

        .product-title-conatainer {
            border: 2px solid #CCCCCCBF;
            border-radius: 10px;
            padding: 10px;
            width: 70%;
            margin-bottom: 20px;

            .product-breadcrumbs {
                margin-bottom: 10px;
            }

            .product-title {
                margin-bottom: 10px;
            }

            .card-price-container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .card-price {
                    color: #000 !important;
                }

                .card-button {
                    background-color: #EAF7ED !important;
                    color: #73C986 !important;
                    border-radius: 2px solid #2EAF4B !important;
                    width: 70px;
                }
            }

            .border-line {
                background-color: #CCCCCCBF;
                height: 5px;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }

        }

        .product-description-container {
            border: 2px solid #CCCCCCBF;
            border-radius: 10px;
            width: 70%;
            padding: 10px;

            .product-detail-title {
                margin-bottom: 10px
            }
        }
    }
}

.image-list-container {
    margin: 0% 1% 0% 3%;
    border: 2px solid #CCCCCCBF;
    width: fit-content;
    // height: 100vh;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    // padding: 10px;
}