.testimonial-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  padding: 50px 0 0 0;
}

.testimonial-title {
  font-size: 18px;
  font-weight: 700;
}

.testimonial-subtitle {
  font-size: 48px;
  font-weight: 500;
  color: #2EAF4B;
}

.carosal-inner {
  height: auto;
  padding: 40px 0 50px 0;
}

.testimonial-card {
  height: 430px;
  width: 95%;
  margin: 10px;
  position: relative;
  text-align: center;
  border-radius: 5%;
  margin-top: 80px;
  padding: 0 10px;
  background-color: #EAF7ED;
}

.testimonial-image {
  position: relative;
  left: 42%;
  bottom: 10%;
  border-radius: 50%;
  width: 90px;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.testimonial-main-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-feedback {
  width: 90%;
  font-size: 17px;
  font-weight: 500;
  color: #134A20;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin: 3px;
  text-align: justify;
}

.testimonial-name {
  padding: 6px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.testimonial-location {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 500;
  color: black;

}

.location-icon {
  height: 18px;
  width: 17px;
  color: black;

}

//tab sdesign for testimonial 

@media (max-width: 1024px) {

  .testimonial-header {
    margin-top: 20px;
    padding: 30px 0 0 0;
  }

  .testimonial-title {
    font-size: 16px;
  }

  .testimonial-subtitle {
    font-size: 36px;
  }

  .carosal-inner {
    padding: 30px 0 40px 0;
    margin-top: 20px;
  }

  .testimonial-card {
    height: 550px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
  }

  .testimonial-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 70px;
  }

  .testimonial-feedback {
    font-size: 16px;
    width: 95%;
    padding: 10px;
    text-align: justify;

  }

  .testimonial-name {
    font-size: 18px;

  }

  .testimonial-location {
    font-size: 14px;

  }

  .location-icon {
    height: 16px;
    width: 16px;
  }
}

<<<<<<< HEAD
=======
@media screen and (min-width:481px) and (max-width : 768px) {

  .testimonial-card {
    height: 750px;
  }

  .testimonial-feedback {
    padding: 5px;
  }
}

>>>>>>> 74772ba (all design correction completd jun12)
// mobile design for testimonial 

@media screen and (max-width: 480px) {
  .testimonial-header {
    margin-top: 20px;
  }

  .testimonial-title {
    font-size: 16px;
  }

  .testimonial-subtitle {
    font-size: 28px;
    padding: 10px;
    text-align: center;
  }

  .carosal-inner {
    padding: 20px 0 30px 0;
  }

  .testimonial-card {
    height: 450px;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    margin-top: 60px;
  }

  .testimonial-image {
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
  }

  .testimonial-feedback {
    font-size: 15px;
    width: 95%;
    text-align: center;
    padding: 5px;
    text-align: justify;

  }

  .testimonial-name {
    font-size: 18px;
    text-align: center;
    padding: 10px;

  }

  .testimonial-location {
    font-size: 14px;
    gap: 3px;
    padding: 8px;

  }

  .location-icon {
    height: 16px;
    width: 16px;

  }
}